# --------------------------------------------------
# IDE specific
# --------------------------------------------------
.vscode/
.idea/

# --------------------------------------------------
# Dependency directories
# --------------------------------------------------
node_modules/
